@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'textaRegular';
  src: url('/poppins/Poppins-Regular.otf') format('opentype');
  font-weight: regular;
  font-style: regular;
}

@font-face {
  font-family: "textaThin";
  src: url('/poppins/Poppins-Thin.otf') format('opentype');
  font-weight: thin;
  font-style: thin;
}
@font-face {
  font-family: "textaLight";
  src: url('/poppins/Poppins-Light.otf') format('opentype');
  font-weight: light;
  font-style: light;
}

@font-face {
  font-family: "textaBold";
  src: url('/poppins/Poppins-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "textaMedium";
  src: url('/poppins/Poppins-Medium.otf') format('opentype');
  font-weight: meduim;
  font-style: meduim;
}

@import url("~leaflet/dist/leaflet.css");

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.bg {
    background-image: linear-gradient(to right top, #5fc9f8, #72c9fa, #82c9fc, #91cafc, #9fcafc, #adcafc, #bbc9fb, #c7c9f9, #d7c9f6, #e5c9f1, #f0caec, #f9cce6);}