@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'textaRegular';
  src: url('/texta/TextaAltRegular.ttf') format('truetype');
  font-weight: regular;
  font-style: regular;
}

@font-face {
  font-family: "textaThin";
  src: url('/texta/TextaAltThin.ttf') format('truetype');
  font-weight: thin;
  font-style: thin;
}
@font-face {
  font-family: "textaLight";
  src: url('/texta/TextaAltLight.ttf') format('truetype');
  font-weight: light;
  font-style: light;
}

@font-face {
  font-family: "textaBold";
  src: url('/texta/TextaAltBold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "textaMedium";
  src: url('/texta/TextaAltMedium.ttf') format('truetype');
  font-weight: meduim;
  font-style: meduim;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
.without-ring:focus:not(:focus-visible) {
  @apply focus:ring-0 focus:ring-offset-0;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
